<div>
  <app-title title="Defer Views / blocks "/>
</div>
<section class="grid grid-cols-1">
  @defer () {
    <app-heavy-loaders-slow cssClass= "bg-blue-500"></app-heavy-loaders-slow>

  }@placeholder {
    <p class="h-[100vh] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">
    console.log("cargando...")
  </p>
  }

  @defer (on idle) {
    <app-heavy-loaders-slow cssClass= "bg-red-500"></app-heavy-loaders-slow>

  }@placeholder {
    <p class="h-[100vh] w-full bg-gradient-to-r from-gray-500 to-gray-100 animate-pulse">
    console.log("cargando...")
  </p>
  }
<!-- cargará cunado se muestre en el viewport de la pantalla -->
  @defer (on viewport) {
    <app-heavy-loaders-slow cssClass= "bg-yellow-500"></app-heavy-loaders-slow>

  }@placeholder {
    <p class="h-[100vh] w-full bg-gradient-to-r from-black-200 to-gray-400 animate-pulse">
    console.log("cargando...")
  </p>
  }
</section>
